body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

hr {
    width: 70px;
    border-style: hidden;
    background-color: #027AFB;
    height: 1px;
    margin-bottom: 20px;
}

section {
    padding: 70px;
    text-align: center;
    display: flex;

    align-items: center;
    flex-direction: column;

}

section.portfolio {
   background-color:  #F2F1ED;
}

h2 {
    text-transform: uppercase;
    font-weight: normal;
}

p {
    color: gray;
}

.przycisk {
    text-transform: uppercase;
    border: 1px solid #027AFB;
    padding: 12px;
    margin: 20px;

    color: black;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    background-color: inherit;
}

.przycisk:hover,
.przycisk:active {
    background-color: #027AFB;
    color: white;
}



.header div span {
    color: #027AFB;
}

.header {
    display: flex;
    height: 70vh;
    justify-content: center;
    flex-direction: column;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: cover;
}

.header-inner {
    text-align: center;

}

h1 {
    color: #027AFB;
    text-transform: uppercase;
}

.menu {
    background-color: #027AFB;
          position: sticky;
    top: 0px;
    z-index: 1;
}

.menu ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
        top: 0;
    justify-content: center;
    display: flex;
}

.menu ul > li {
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

li a:hover {

    color: #027AFB;
    background-color: white;
}

.round {
    border-radius: 50%;
    margin-top: 30px;
    
   
}





.projekt:hover img {
    opacity: 0.3;
}

.projekt {
	margin: 0;
    height: 200px;
      flex-basis: 25%;
    overflow: hidden;
     background-color:  #027AFB;
    position: relative;

 
}

.projekt img {
    opacity: 1;
    object-fit: cover;
    transition: opacity .5s ease;
    width: 100%;
    height: 100%;
}

.projekt:hover .overlay {
  opacity: 1;
}

.overlay {
    margin: 0;
/*    padding-top: 50%;*/
  opacity: 0;
  transition: opacity .5s ease;
    color: white;
font-weight: 300;
     font-size: 40px;
    vertical-align: middle;
    font-weight: 300;
    width: 100%;
       position: absolute;               /* 2 */
   top: 70px;                         /* 3 */
/*   transform: translate(0, -50%)     */
    /*  background-color: #027AFB;*/
}


.galery {
    display: flex;
    flex-wrap: wrap;
   
     
}

form div {
        display: grid;
/*margin-top: 10px;*/
    grid-gap: 20px;
}

.icons{
 display: flex;
flex-direction: row;
    justify-content: center;
    padding: 0px;
}

input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    font-family:  'Open Sans';
/*    margin: 8px;*/
    display: inline;
}

textarea {
      grid-column-start: 1;
  grid-column-end: 3;
}

.fab {
   font-size: 30px;
    color:  #027AFB;
        transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
  
}

.icons a {
      margin: 15px;
}

.fab:hover {
    color: silver;
}


footer {
    text-align: center;
    padding: 0px 20px;
    background-color: #F2F1ED;
}

block {
    position: relative;
}

#menud, .menu label {
    display: none;
        text-transform: uppercase;
    font-weight: normal;
    height: 20px;
    padding: 8px;
    color: white;
}
